*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  width: 900px;
  margin: auto;
  background: #fff;
  border-radius: 26px;
  padding: 40px;
  box-shadow: 0px 1px 8px 5px rgba(79,79,79,0.3);
  color: #405878;
}

.App-header{
  text-align: left;
}

.App-header .user-bar{
  float: right;
}

.user-bar h1{
  display: inline-block;
  font-weight: lighter;
  padding-right: 20px;
}

.user-bar button{
  border: none;
  background: none;
  outline: none;
}
.user-bar button .hide{
  display: none;
}

.user-bar button:hover{
  cursor: pointer;
  opacity: 0.7;
}
.user-bar button:hover .hide{
  display: inline-block;
  vertical-align: text-top;
  padding-left: 4px;
  color: #405878;
}
.user-bar button i{
  color: #6DBCAF; 
  font-size: 24px;
}

.ttl{
  display: inline-block;
  font-size: 39px;
  letter-spacing: 2px;
  padding: 10px 20px;
  border-top-left-radius: 26px;
  border-bottom-right-radius: 26px;
  background: #6DBCAF;
  color: #fff;
}
.ttl i{
  padding-left: 10px;
  font-size: 32px;
}
.top{
  margin-top: 20px;
}
.top:after{
  content: "";
  display: block;
  clear: both;
  height: 0;
  width: 0;
  visibility: hidden;
}
.top h2{
  display: inline-block;
  text-align: left;
  font-family: "微软雅黑";
  float: left;
}
.top .input{
  display: inline-block;
  float: right;
}
.top .input input{
  border: none;
  background: #6DBCAF;
  opacity: 0.2;
  border-radius: 10px;
  height: 36px;
  padding: 10px;
}
.top .input input:focus{
  outline: none;
  outline-offset: 0;
}

.btn{
  appearance: none;
  border: none;
  background: none;
}
.btn:focus{
  outline: none;
}
.btn:hover{
  cursor: pointer;
  opacity: 0.6;
}
.add i{
  font-size: 26px;
  color: #6DBCAF;
  padding-left: 10px;
  vertical-align: sub;
}


.items ol{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}

.items ol li{
  list-style: none;
  width: calc(100% / 5);
  height: 220px;
  padding: 16px 16px 48px 16px;
  margin: 20px 0 0 20px;
  color: #fff;
  background: #6DBCAF;
  border-radius: 10px;
  box-shadow: 0px 1px 4px 2px rgba(79,79,79,0.3);
  position: relative;
}
.items ol li:last-child{
  margin-right: 0;
}

.items ol li .content{
  font-weight: lighter;
  padding: 10px 0;
  word-break: break-all;
  text-align: left;
}

.delete i{
  font-size: 20px;
  color: #fff;
  font-weight: bold;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.items ol li input[type=checkbox]{
    appearance: none;
    outline: none;
    background: transparent;
    height: 220px;
    width: 164px;
    margin-right: 10px;
    position: absolute;
    top: 0;
    left: 0;
}
.items ol li input[type=checkbox]:hover{
  cursor: pointer;
}
.items ol li input[type=checkbox]:checked{
  display: none;
}

.items ol li .content.completed{
  text-decoration-line: line-through;
  color: #ccc;
}

.userDialog-wrapper{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 6;
  background: rgba(0, 0, 0, 0.7);
}

.userDialog{
  width:440px;
  height: 320px;
  background: #fff;
  opacity: 100;
  border-radius: 10px;
  box-shadow: 0px 1px 4px 2px rgba(79,79,79,0.3);
}

.userDialog nav{
  padding: 14px 0 20px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  position: relative;
}
.userDialog nav h1{
  margin: 0 0 20px;
  color: #6DBCAF;
}
.userDialog nav h1 i{
  padding-left: 10px;
  font-size: 27px;
}
.nav-inner{
  padding: 9px 0;
  border: 1px solid #ccc;
  border-radius: 24px;
  display: inline-block;
}
.userDialog nav label{
  position: relative;
  padding: 8px 48px;
  border-radius: 24px;
}

.userDialog nav label input{
  appearance: none;
  outline: none;
  background: transparent;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: none;
  border-radius: 24px;
  padding: 10px 22px;
  text-align: center;
}
.userDialog nav label input:after{
  content: "";
  font-size: 16px;
  color: #ccc;
}
.userDialog nav label:first-child input:after{
  content: "注册"
}
.userDialog nav label:last-child input:after{
  content: "登陆"
}

.userDialog nav label input:checked:after{
  color: #fff;
}
.userDialog nav label input:checked{
  background-color: #6DBCAF;
}
.userDialog nav label input:hover{
  cursor: pointer;
}

.userDialog-content input{
  border: none;
  outline: none;
}
.userDialog-content .row{
  margin-bottom: 14px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 8px;
}
.userDialog-content form{
  padding: 0 84px;
}
.userDialog-content .row:after{
  content: "";
  display: block;
  clear: both;
  visibility: hidden;
}
.userDialog-content .row label{
  display: inline-block;
  float: left;
}
.userDialog-content .row label i{
  color: #6DBCAF;
  font-size: 18px;
  font-weight: bold;
}
.userDialog-content .row input{
  float: left;
  padding-left: 10px;
  height: 100%;
  width: 90%;
}

.userDialog-content .action button{
  border:2px solid #6DBCAF;
  background: #fff;
  color: #405878;
  border-radius: 10px;
  padding: 8px 30px;
  position: relative;
  outline: none;
}
.userDialog-content .action button:hover{
  cursor: pointer;
  opacity: 0.7;
}

.forget{
  margin-top: 6px;
}
.forget a{
  font-size: 14px;
  color: rgb(104, 104, 104);
  font-weight: lighter;
}
